@mixin clearFix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin composesContent() {
  margin-inline: auto;
  padding: 30px 15px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 992px) {
    width: 992px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
