@import "../utils/variables";

*,
::before,
::after {
  box-sizing: border-box;

  & {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
}

:lang(ko) {
  word-break: keep-all;
}

body {
  background-color: $clr-theme-bg;
}
