.wrapper {
  display: block;
  line-height: 0;
}

.xxxSmall {
  width: 0.8rem;
  height: 0.8rem;
}

.xxSmall {
  width: 1.25rem;
  height: 1.25rem;
}

.xSmall {
  width: 1.63rem;
  height: 1.63rem;
}

.small {
  width: 2.13rem;
  height: 2.13rem;
}

.medium {
  width: 2.63rem;
  height: 2.63rem;
}

.large {
  width: 3.75rem;
  height: 3.75rem;
}

.xLarge {
  width: 5rem;
  height: 5rem;
}
