@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.content {
  @include composesContent();

  @media (max-width: $screen-size-xs) {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.tip {
  position: relative;
  left: 0;
  padding-left: 12px;
  white-space: normal;
  text-align: left;
  display: table-cell;
  vertical-align: middle;

  > i {
    width: 50vh;
  }

  a {
    color: var(--color-blue);
  }
}

.section {
  @media (min-width: $screen-size-md) {
    margin: 46px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.15;

    @media (max-width: $screen-size-xs) {
      font-size: 22px;
    }

    @media (min-width: $screen-size-xl) {
      font-size: 56px;
    }
  }

  p {
    padding-top: 25px;
    margin: 0;
    color: rgba($color: $clr-white, $alpha: 0.5);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: none;

    @media (min-width: $screen-size-md) {
      width: 400px;
    }
  }
}

.partnerButton {
  margin-top: 20px;
  position: relative;
  display: table;

  .statusBar {
    margin-top: 25px;
  }

  @media (max-width: $screen-size-xs) {
    margin-bottom: 10px;
    margin-bottom: 30px;
  }
}

.noAction {
  cursor: default;
  font-size: 1em;
  display: table-cell;
}

.action {
  cursor: pointer;
  font-size: 1em;
}

.statusBar {
  border-radius: 6px;
  background-color: #e67e22;
  padding: 7px 10px 7px 13px;
  display: flex;
  align-items: center;
  font-weight: $fw-medium;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;

  &.error {
    background-color: var(--color-red);
  }

  a {
    color: $clr-white;
    text-decoration: underline;
  }
}
